<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.appler.mapper.BoardMapper">
    <select id="contextList" resultType="com.ys.appler.dto.FreeboardDto">
        select *
        from tbl_member
    </select>
</mapper>
