<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.appler.mapper.CommentMapper">

    <select id="commentCount" resultType="int">
        SELECT
            COUNT(*)
        FROM tbl_comment
        WHERE p_no =#{p_no}
    </select>

    <select id="commentList" resultType="com.ys.appler.dto.CommentDto">
        SELECT
        *
        FROM tbl_comment
        WHERE p_no =#{p_no}

    </select>
    <!--<select id="commentListCount" resultType="int">
        SELECT
             count(*)
        FROM tbl_comment
        WHERE p_no =#{bno}

    </select>-->

    <insert id="commentInsert" parameterType="com.ys.appler.dto.CommentDto">
        INSERT INTO
        tbl_comment (p_no, board_code, comments, nickname, r_date, ip)
        VALUES(#{p_no},#{board_code},#{comments},#{nickname},now() ,#{ip})
    </insert>

    <update id="commentUpdate" parameterType="com.ys.appler.dto.CommentDto">
        UPDATE tbl_comment
        SET
        comments = #{comments}
        WHERE no = #{no}
    </update>

    <delete id="commentDelete" parameterType="int">
        DELETE FROM tbl_comment WHERE no = #{no}
    </delete>
</mapper>