<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.appler.mapper.MemberMapper">
 <select id="selectmember" resultType="com.ys.appler.dto.MemberDto">
     select *
     from tbl_member
 </select>
    <select id="idCheck" resultType="int">
        SELECT  COUNT(*)
        FROM tbl_member
        WHERE userid = #{userid}
    </select>
    <select id="findByusername" resultType="com.ys.appler.dto.MemberDto">
        SELECT *
        FROM tbl_member
        WHERE userid = #{username}
    </select>

   <insert id="memberSingup"  parameterType="com.ys.appler.dto.MemberDto" >
        INSERT INTO tbl_member (userid, password, nickname, name, email, enabled, authority,emailauth, point, lastdate, date)
        VALUES (#{userid}, #{password}, #{nickname}, #{name},#{email},1, 'ROLE_USER','N' ,0 ,now(),now())
    </insert>
    <insert id="oauthJoin"  parameterType="com.ys.appler.dto.MemberDto" >
        INSERT INTO tbl_member (userid, password, nickname, name, email, enabled, authority,emailauth,provider,providerid ,point, lastdate, date)
        VALUES (#{userid}, #{password}, #{nickname}, #{name},#{email},1, 'ROLE_USER','Y',#{provider} ,#{providerid} ,0 ,now(),now())
    </insert>


    <select id="memberRead" resultType="com.ys.appler.dto.MemberDto">
        SELECT no, userid, password , nickname ,name ,email, enabled, authority,emailauth,provider,point,DATE_FORMAT(lastdate, '%Y-%m-%d') as lastdate, DATE_FORMAT(date, '%Y-%m-%d') as date
        FROM tbl_member
        WHERE userid = #{userid}
    </select>
    <update id="memberAuth" parameterType="com.ys.appler.dto.MemberDto">
        UPDATE tbl_member
        SET
        emailauth = 'Y'
        WHERE userid = #{userid}
    </update>
    <select id="memberIdSearch" resultType="String">
        select userid
        from tbl_member
        where name=#{name} and email = #{email} and provider is NULL
    </select>

    <select id="memberAccountSearch" resultType="int">
        SELECT count(*)
        FROM tbl_member
        WHERE userid = #{id} and email =#{email}
    </select>
    <update id="temporaryPassword" >
        UPDATE tbl_member
        SET
        password = #{temporaryPass}
        WHERE userid = #{id}
    </update>
    <select id="nowpassCheck" resultType="int">
        SELECT count(*)
        FROM tbl_member
        WHERE userid = #{id} and password =#{nowpass}
    </select>
    <update id="changePass" >
        UPDATE tbl_member
        SET
        password = #{changpass}
        WHERE userid = #{id}
    </update>
    <select id="nicknameCheck" resultType="int">
        SELECT count(*)
        FROM tbl_member
        WHERE nickname = #{nickname}
    </select>
    <update id="nicknameChange" >
        UPDATE tbl_member
        SET
        nickname = #{nickname}
        WHERE userid = #{userid}
    </update>

    <update id="nameChange" >
        UPDATE tbl_member
        SET
        name = #{name}
        WHERE userid = #{userid}
    </update>
</mapper>
