<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.appler.mapper.MemberMapper">
 <select id="selectmember" resultType="com.ys.appler.dto.MemberDto">
     select *
     from tbl_member
 </select>
    <select id="idCheck" resultType="int">
        SELECT  COUNT(*)
        FROM tbl_member
        WHERE userid = #{userid}
    </select>

   <insert id="memberSingup"  parameterType="com.ys.appler.dto.MemberDto" >
        INSERT INTO tbl_member (userid, password, nickname, name, email, enabled, authority, point, lastdate, date)
        VALUES (#{userid}, #{password}, #{nickname}, #{name},#{email},1, 'ROLE_USER' ,0 ,now(),now())
    </insert>
</mapper>
