<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.appler.mapper.NoticeBoardMapper">


    <insert id="contextWrite"  parameterType="com.ys.appler.dto.NoticeBoardDto" >
        INSERT INTO tbl_notice_board ( board_code, nickname, subject, contents, file, ip, readcount, reporting_date)
        VALUES ('NB',  #{nickname}, #{subject},#{contents},#{file} ,#{ip} ,0,now())
    </insert>
    <select id="ListCount" resultType="int">
        SELECT count(*)
        FROM tbl_notice_board
    </select>
    <select id="listPaging" resultType="com.ys.appler.dto.NoticeBoardDto">
        SELECT no, board_code  ,nickname,subject ,contents ,file ,ip, readcount ,DATE_FORMAT(reporting_date, '%Y-%m-%d') as reporting_date
        FROM tbl_notice_board
        ORDER BY no desc
        limit #{pageStart} , #{perPageNum}
    </select>
    <select id="contextRead" resultType="com.ys.appler.dto.NoticeBoardDto">
        SELECT no, nickname, subject , contents ,file ,ip, readcount, DATE_FORMAT(reporting_date, '%Y-%m-%d') as reporting_date
        FROM tbl_notice_board
        WHERE no=#{no}
    </select>
    <update id="readcountUp" parameterType="int">
        UPDATE tbl_notice_board
        SET readcount = readcount + 1
        WHERE no = #{reviewNo}
    </update>
    <update id="contextUpdate" parameterType="com.ys.appler.dto.NoticeBoardDto">
        UPDATE tbl_notice_board
        SET subject=#{subject}, contents=#{contents}, file=#{file}
        WHERE no =#{no}
    </update>
    <delete id="contextDelete" parameterType="hashMap" >
        DELETE
        FROM tbl_notice_board
        WHERE no = #{no}
    </delete>
    <select id="contextSearch" resultType="com.ys.appler.dto.NoticeBoardDto">
        SELECT no, board_code  ,nickname,subject ,contents ,file ,ip, readcount ,DATE_FORMAT(reporting_date, '%Y-%m-%d') as reporting_date
        FROM tbl_notice_board
        ORDER BY no desc
        limit #{pageStart} , #{perPageNum}
    </select>



</mapper>
