<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>
<style type="text/css">
.test{
        width: 1324px;
    position: relative;
    margin: 0 auto;
    }





</style>
<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" style="margin-top: 50px">

    <div class="container test" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm-9">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">자유게시판</h4>
                        <table class="table table-hover" id='board_list'>
                            <thead>

                            <tr>
                                <th class="text-center d-none d-md-table-cell">글번호</th>
                                <th class="w-50">제목</th>
                                <th class="text-center d-none d-md-table-cell">작성자</th>
                                <th class="text-center d-none d-md-table-cell">작성날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="context: ${contextlist}">
                                <td th:text="${context.posts_no}" class="text-center d-none d-md-table-cell"></td>
                                <td th:text="${context.subject}"><a href="#">asd</a></td>
                                <td th:text="${context.nickname}" class="text-center d-none d-md-table-cell">이용수</td>
                                <td th:text="${context.reporting_date}" class="text-center d-none d-md-table-cell">2020-07-25</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="d-none d-md-block">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a href="#" class="page-link">이전</a></li>
                                <li class="page-item"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" class="page-link">5</a></li>
                                <li class="page-item"><a href="#" class="page-link">6</a></li>
                                <li class="page-item"><a href="#" class="page-link">7</a></li>
                                <li class="page-item"><a href="#" class="page-link">8</a></li>
                                <li class="page-item"><a href="#" class="page-link">9</a></li>
                                <li class="page-item"><a href="#" class="page-link">10</a></li>
                                <li class="page-item"><a href="#" class="page-link">다음</a></li>
                            </ul>
                        </div>

                        <div class="d-block d-md-none">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a href="#" class="page-link">이전</a></li>
                                <li class="page-item"><a href="#" class="page-link">다음</a></li>
                            </ul>
                        </div>

                        <div class="text-right">
                            <!-- 게시판 종류별 인덱싱 -->
                            <a href="/board/write"
                               class="btn btn-primary">글쓰기</a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">

                <button type="submit" id="login-submit" class="btn btn-secondary btn-block" />로그인</button>
            </div>
        </div>


        <!-- 공통 하단-->
        <th:block th:replace="include/footer :: footer"></th:block>


        <!-- 공통 스크립트-->
        <th:block th:replace="include/script :: script"></th:block>
</body>
</html>