<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>


<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" style="margin-top: 50px">

    <div class="container layout" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm-9">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title" th:if="${board.toString().equals('1')}">자유게시판</h4>
                        <h4 class="card-title" th:if="${board.toString().equals('2')}">질문게시판</h4>
                        <h4 class="card-title" th:if="${board.toString().equals('3')}">인증게시판</h4>
                        <table class="table table-hover" id='board_list'>
                            <thead>

                            <tr>

                                <th class="w-50">제목</th>
                                <th class="text-center d-none d-md-table-cell">작성자</th>
                                <th class="text-center d-none d-md-table-cell">작성날짜</th>
                                <th class="text-center d-none d-md-table-cell">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="context: ${contextlist}">

                                <td><a th:href="@{/board/read(posts_no=${context.posts_no},board=${board})}"><p th:text="${context.subject}+' ['+ ${context.comment}+']'"></p></a>
                                </td>
                                <td th:text="${context.nickname}" class="text-center d-none d-md-table-cell"></td>
                                <td th:text="${context.reporting_date}" class="text-center d-none d-md-table-cell"></td>
                                <td th:text="${context.readcount}" class="text-center d-none d-md-table-cell"></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="d-none d-md-block">
                            <ul class="pagination justify-content-center">
                                <li th:if="${pageing.prev}" class="page-item"><a th:href="@{list(board=${board}, page=${pageing.startPage-1})}" class="page-link">이전</a></li>
                     <th:block th:each="index: ${#numbers.sequence(pageing.startPage,pageing.endPage)}">
                                <li class="page-item"><a class="page-link" th:text="${index}"  th:href="@{list(board=${board}, page=${index})}" ></a></li>

                     </th:block>
                                <li th:if="${pageing.next}" class="page-item"><a th:href="@{list(board=${board}, page=${pageing.endPage+1})}" class="page-link">다음</a></li>
                            </ul>
                        </div>

                        <div class="d-block d-md-none">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a href="#" class="page-link">이전</a></li>
                                <li class="page-item"><a href="#" class="page-link">다음</a></li>
                            </ul>
                        </div>

                        <div class="text-right">
                            <!-- 게시판 종류별 인덱싱 -->
                            <a th:href="@{/board/write(board=${board})}"
                               class="btn btn-primary">글쓰기</a>

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">

                <button type="submit" id="login-submit" class="btn btn-secondary btn-block"/>
                로그인</button>
            </div>
        </div>


        <!-- 공통 하단-->
        <th:block th:replace="include/footer :: footer"></th:block>


        <!-- 공통 스크립트-->
        <th:block th:replace="include/script :: script"></th:block>
</body>
</html>