<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>


<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" style="margin-top: 50px">

    <div class="container layout" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">자유게시판</h4>
                        <form  action="#" th:action="@{/board/modifypro}" th:object="${boardDto}" method="get" >
                            <input type="hidden" name="board" id="board" th:value="${board}">
                            <input type="hidden" name="posts_no" id="posts_no" th:value="${posts_no}">
                            <input type="hidden" name="board_code" id="board_code" th:value="${boardcode}">
                            <label for="subject">제목</label><br>
                            <input type="text" name="subject" id="subject"  th:value="${contextread.subject}" class="form-control mr-sm-2" ><br>
                            <input type="hidden" class="editordata" th:value="${contextread.editordata}">

                            <span>내용 </span>
                            <textarea id="summernote" name="editordata"></textarea><br>
                            <button type="submit" class="btn btn-success">입력완료</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">

                <th:block th:replace="include/side :: side"></th:block>
            </div>
        </div>

    </div>
</div>

<!-- 공통 하단-->
<th:block th:replace="include/footer :: footer"></th:block>

</body>
<!-- 공통 스크립트-->
<th:block th:replace="include/script :: script"></th:block>
<script th:src="@{/js/summernote/summernote-lite.js}"></script>
<script th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>
<script>
    $(document).ready(function() {

        //editordata " 를 ' 로 변경
        String.prototype.replaceAll = function(org, dest) {
            return this.split(org).join(dest);
        }

        var editordata = $('.editordata').val();
        var result = editordata.replaceAll(`"`, `'`);


        $('#summernote').summernote({
            height: 300,
            lang: "ko-KR",
            placeholder: '최대 2048자까지 쓸 수 있습니다',
            focus: true,
            toolbar: [
                  // [groupName, [list of button]]
                  ['fontname', ['fontname']],
                  ['fontsize', ['fontsize']],
                  ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                  ['color', ['forecolor','color']],
                  ['table', ['table']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['height', ['height']],
                  ['insert',['picture','link','video']],
                  ['view', ['fullscreen', 'help']]
                ],
            fontNames: ['맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
            callbacks: {
                onImageUpload : function(files, editor, welEditable) {
                    uploadSummernoteImageFile(files[0],this);

                }

            }
        });
            $("#summernote").summernote('code',  result);
    });


    function uploadSummernoteImageFile(file, editor) {
          var data = new FormData();
          data.append("file", file);

          $.ajax({
            data : data,
            type : "POST",
            url : "/uploadSummernoteImageFile",
            dataType:"text",
            contentType : false,
            processData : false,
            success : function(data) {
              $(editor).summernote('insertImage', "/summernoteImage/"+data, function($images) {
                  $images.css('width', "50%");
              });
            },
            error : function() {
              alert("에러가 발생하였습니다.");
            }
          });
    }
</script>

</html>