<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>


<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" style="margin-top: 50px">

    <div class="container layout" >
        <div class="row">
            <div class="col-sm-9">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 th:text="${contextread.subject}"></h3>
                        <span th:text="${contextread.nickname}"></span><br>
                        조회수 : <span th:text="${contextread.readcount}"></span><br>
                        작성일 : <span th:text="${contextread.reporting_date}"></span><br>
                        내용 :
                        <div th:utext="${contextread.editordata}"></div>
                        <div class="form-group">
                            <div class="text-right">
                                <a th:href="@{/board/list(board=${board})}" class="btn btn-primary">목록보기</a>
                                <a th:href="@{/board/modify(board=${board}, posts_no=${posts_no})}"
                                   class="btn btn-info">수정하기</a>
                                <button onclick="delete_button()" class="btn btn-danger">삭제하기</button>
                            </div>
                        </div>
                        <div class="container">
                            <label for="comments">댓글</label>
                            <form name="commentInsertForm">
                                <div class="input-group">
                                    <input type="hidden" id="p_no" name="p_no" value="1000">
                                    <input type="hidden" id="board_code" name="board" value="1">
                                    <input type="text" class="form-control" id="comments" name="comments" placeholder="내용을 입력하세요.">
                                    <span class="input-group-btn">
                    <button class="btn btn-submit" type="button" name="commentInsertBtn">등록</button>
               </span>
                                </div>
                            </form>
                        </div>

                        <div class="container">
                            <div class="commentList"></div>
                        </div>




                    </div>
                </div>


            </div>
            <div class="col-sm-3">

                <button type="submit" id="login-submit" class="btn btn-secondary btn-block"/>
                로그인</button>
            </div>
        </div>
    </div>

</div>

<!-- 공통 하단-->
<th:block th:replace="include/footer :: footer"></th:block>

</body><script>
var bno = 1000; //게시글 번호

$('[name=commentInsertBtn]').click(function(){ //댓글 등록 버튼 클릭시
    var insertData = $('[name=commentInsertForm]').serialize(); //commentInsertForm의 내용을 가져옴
    commentInsert(insertData); //Insert 함수호출(아래)
});



//댓글 목록
function commentList(){

    $.ajax({
        url : '/comment/list',
        type : 'get',
        data : {'bno':bno},
        success : function(data){
            var a ='';
            $.each(data, function(key, value){
                a += '<div class="commentArea" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
                a += '<div class="commentInfo'+value.no+'">'+'댓글번호 : '+value.no+' / 작성자 : '+value.writer;
                a += '<a onclick="commentUpdate('+value.no+',\''+value.content+'\');"> 수정 </a>';
                a += '<a onclick="commentDelete('+value.no+');"> 삭제 </a> </div>';
                a += '<div class="commentContent'+value.no+'"> <p> 내용 : '+value.content +'</p>';
                a += '</div></div>';
            });

            $(".commentList").html(a);
        }
    });
}

//댓글 등록
function commentInsert(insertData){
alert(insertData);
    $.ajax({
        url : '/comment/insert',
        type : 'get',
        data : insertData,
        success : function(data){
             if(data == 1) {
                commentList(); //댓글 작성 후 댓글 목록 reload
                $('[name=content]').val('');
            }
        }
    });
}

//댓글 수정 - 댓글 내용 출력을 input 폼으로 변경
function commentUpdate(cno, content){
    var a ='';

    a += '<div class="input-group">';
    a += '<input type="text" class="form-control" name="content_'+cno+'" value="'+content+'"/>';
    a += '<span class="input-group-btn"><button class="btn btn-default" type="button" onclick="commentUpdateProc('+cno+');">수정</button> </span>';
    a += '</div>';

    $('.commentContent'+cno).html(a);

}

//댓글 수정
function commentUpdateProc(cno){
    var updateContent = $('[name=content_'+cno+']').val();

    $.ajax({
        url : '/comment/update',
        type : 'post',
        data : {'content' : updateContent, 'cno' : cno},
        success : function(data){
            if(data == 1) commentList(bno); //댓글 수정후 목록 출력
        }
    });
}

//댓글 삭제
function commentDelete(cno){
    $.ajax({
        url : '/comment/delete/'+cno,
        type : 'post',
        success : function(data){
            if(data == 1) commentList(bno); //댓글 삭제후 목록 출력
        }
    });
}




$(document).ready(function(){
    commentList(); //페이지 로딩시 댓글 목록 출력
});



</script>



<script type="text/javascript">
//파라미터 정규식
function getParameter(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
//동적폼

function post_to_url(path, params, method) {
    method = method || "post";
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    for(var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
    }
    document.body.appendChild(form);
    form.submit();
}


function delete_button(){

var posts_no = getParameter("posts_no");
var board = getParameter("board");

if (confirm("정말 삭제하시겠습니까??") == true){    //확인
    post_to_url('/board/deletePro', {'posts_no':posts_no,'board':board});


}else{   //취소
    return;
}
}

</script>
<!-- 공통 스크립트-->
<th:block th:replace="include/script :: script"></th:block>


</html>