<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="include/head :: head"></th:block>
<link th:href="@{/css/login.css}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class="signin-form">
    <form action="/singup" method="post">
        <a href="/"><img th:src="@{/img/}+logogray.png" style="display: block; margin: 0 auto; width: 240px; height: 80px;"></a>
        <h2>회원가입</h2>
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="username" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="nickname" placeholder="nickname" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="name" placeholder="name" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="email" placeholder="email" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign in</button>
        </div>
        <div class="text-center small"><a href="#">Forgot Your password?</a></div>
    </form>
    <div class="text-center small"><a th:href="@{/login}">로그인</a></div>
</div>
<th:block th:replace="include/footer :: footer"></th:block>


<!-- 공통 스크립트-->
<th:block th:replace="include/script :: script"></th:block>
</body>

</html>