<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="side">

<div th:if="${session.greeting}">
    <div class="box-top" >
        <div class="box-body" >
            <div style="float: left">
                <span class='chatimg'><i class='fas fa-user-circle'></i></span>
            </div>
            <div>
                <div class="" th:text="${session.greeting} + '님 환영합니다.!'"></div>
            </div>
        </div>
        <div class="box-footer" style="display: flex;">
            <div style="line-height: 34px; margin-left: 100px">
                <a th:href="@{/user/mypage(userid=${userid})}">&nbsp&nbsp마이페이지</a>
            </div>
            <div style="margin-left: 100px">

                <button type="button" onclick="location.href='/logout'"
                        class="btn btn-secondary btn-block"/>
                로그아웃</button>


            </div>
        </div>
    </div>
</div>
<div th:unless="${session.greeting}">

    <div id="account" class="sc_login">


        <p  style="padding-left: 3px; color: grey;">Appler 로그인 안전하게 이용하세요</p>
        <a href="/user/login" class="link_login">로그인</a>
        <div class="sub_area">
            <div class="look_box">
                <a href="/user/idsearch" class="link_look">아이디</a>
                <a href="/user/pwsearch" class="link_look">비밀번호찾기</a>
            </div>
            <a href="/user/singup" class="link_join">회원가입</a>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-body side_chat">
        <h4 class="card-title">실시간 채팅</h4><span class="side_chatimg"><i class="far fa-comments"></i></span>
        <input type="hidden" id="sessionId" value="">
        <div id="chating" class="side_chating">
        </div>


        <div id="yourMsg">
            <table class="inputTable">
                <colgroup>
                    <col width="60px" />
                    <col width="180px" />
                    <col width="90px"  />
                </colgroup>
                <tr>
                    <th>메시지</th>
                    <th><input id="chatting" class="form-control" placeholder="보내실 메시지를 입력하세요."></th>
                    <th>
                        <button  class="btn btn-success" onclick="send()" id="sendBtn">보내기</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="" style="">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#home">인기글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile">최신글</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade card-body card" id="home">
            <th:block th:each="bestcontextList: ${bestcontextList}">

                    <span th:text="${bestcontextList.subject}+' ['+ ${bestcontextList.comment}+']'"></span><br>

            </th:block>
        </div>
        <div class="tab-pane fade card-body card active show" id="profile">
            <th:block th:each="newcontextList: ${newcontextList}">

                <span th:text="${newcontextList.subject}+' ['+ ${newcontextList.comment}+']'"></span><br>
            </th:block>

        </div>

    </div>

</div>
</th:block>
</html>