<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>


<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content">

    <div class="container layout" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <div class="card-body">
                        <h4>공지사항</h4>
                        <table class="table table-hover" id='board_list'>
                            <thead>

                            <div class="text-right">
                                <!-- 게시판 종류별 인덱싱 -->
                                <a th:href="@{/noticeboard/write}"
                                   class="btn btn-primary">글쓰기</a>

                            </div>
                            <br>
                            <tr>
                                <th class="w-75 text-center">내용</th>

                                <th class="text-center d-none d-md-table-cell">등록일</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="context: ${contextlist}">

                                <td><a th:href="@{/noticeboard/read(no=${context.no})}"><p th:text="${context.subject}"></p></a>
                                </td>

                                <td th:text="${#dates.format(context.reporting_date, 'yyyy-MM-dd')}" class="text-center d-none d-md-table-cell"></td>

                            </tr>
                            </tbody>
                        </table>
                        <div style="margin-bottom: 3rem;">

                        <form class="form-inline my-2 my-lg-0" th:action="@{/noticeboard/list}" method="get">
                            <input class="form-control mr-sm-2" type="text" name="keyword" th:attr="value = ${keyword}" >
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        </div>
                      <div class="d-none d-md-block">
                            <ul class="pagination justify-content-center">
                                <li th:if="${pageing.prev}" class="page-item"><a th:href="@{list(page=${pageing.startPage-1},keyword=${keyword})}" class="page-link">이전</a></li>
                                <th:block th:each="index: ${#numbers.sequence(pageing.startPage,pageing.endPage)}">
                                    <li class="page-item"><a class="page-link" th:text="${index}"  th:href="@{list(page=${index},keyword=${keyword})}" ></a></li>

                                </th:block>
                                <li th:if="${pageing.next}" class="page-item"><a th:href="@{list(page=${pageing.endPage+1},keyword=${keyword})}" class="page-link">다음</a></li>
                            </ul>
                        </div>

                        <div class="d-block d-md-none">
                            <ul class="pagination justify-content-center">
                                <li th:if="${pageing.halfprev}" class="page-item"><a th:href="@{list(page=${pageing.halfstartPage-1},keyword=${keyword})}" class="page-link">이전</a></li>
                                <th:block th:each="index: ${#numbers.sequence(pageing.halfstartPage,pageing.halfendPage)}">
                                    <li class="page-item"><a class="page-link" th:text="${index}"  th:href="@{list(page=${index},keyword=${keyword})}" ></a></li>

                                </th:block>
                                <li th:if="${pageing.halfnext}" class="page-item"><a th:href="@{list(page=${pageing.halfendPage+1},keyword=${keyword})}" class="page-link">다음</a></li>
                            </ul>
                        </div>

                        <div class="text-right">
                            <!-- 게시판 종류별 인덱싱 -->
                          <!--  <a th:href="@{/board/write(board=${board})}"
                               class="btn btn-primary">글쓰기</a>-->

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-4">

                <th:block th:replace="include/side :: side"></th:block>
            </div>
        </div>


        <!-- 공통 하단-->
        <th:block th:replace="include/footer :: footer"></th:block>


        <!-- 공통 스크립트-->
        <th:block th:replace="include/script :: script"></th:block>
</body>
</html>