<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>

<style>

#content .wAgree {
    clear: both;
    position: relative;
    padding: 20px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
#content .wAgree .chBoxCheck {
    position: absolute;
    right: 20px;
    top: 27px;
}
label.icheck {
    padding-right: 15px;
}
#content .persnalWrap {
    position: relative;
    clear: both;
    padding: 20px 20px;
    border: 1px solid #d7d7d7;
}
#content .persnalWrap .persnalInfo {
    padding: 0 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;
}
#content .persnalWrap h3 {
    font-size: 25px;
    color: #444;
    margin-bottom: 10px;
}
#content ul.grayBox {
    background: #f6f6f6;
    padding: 20px;
}
#content ul.grayBox > li {
    font-size: 15px;
    color: #767676;
    line-height: 24px;
}

#content .wAgree p + p {
    font-size: 16px;
    color: #767676;
    font-weight: 100;
        line-height: 20px;
    margin-bottom: 0;
}
ul {
    list-style: none;
    }






   .board-form tbody th {
    background: #f7f8f9;
}
.input-textarea {
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 10px;
    line-height: 16px;
    color: #333;
    border-radius: 0!important;
    border: 1px solid #d8d9db;
    vertical-align: middle;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
.board-form tbody td, .board-form tbody th {
    position: relative;
    height: 50px;
    padding: 7px 15px;
    text-align: left;
    border-bottom: 1px solid #d1d5dd;
}
.font-red { color : red;}








</style>
<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" style="margin-top: 50px">

    <div class="container layout" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm-9">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 style="margin-bottom: 2rem;">1:1문의하기<br></h3>
                        <div class="persnalWrap">
                            <div class="persnalInfo">
                                <h3>개인정보 수집, 이용 동의</h3>
                                <ul class="grayBox">
                                    <li>1) 개인정보 항목
                                        <ol>
                                            <li>- 필수항목 : 성명, 휴대전화번호, 이메일</li>
                                        </ol>
                                    </li>
                                    <li>2) 개인정보 수집 및 이용 목적
                                        <ol>
                                            <li>- 고객님의 불만사항, 제안사항, Appler 사이트 이용에 따른 서비스 상담, 이벤트 행사 안내 및 상담 등 고객서비스 관련
                                                상담
                                            </li>
                                        </ol>
                                    </li>
                                    <li>3) 개인정보 보유 및 이용기간
                                        <ol>
                                            <li>- 고객이 동의 의사 철회 시 까지</li>
                                            <li>- 단, 상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는
                                                관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.
                                            </li>
                                            <li>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 보존 기간 3년</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                            <form action="#" th:action="@{/questboard/write}" th:object="${QuestBoardDto}"
                                  method="post">
                                <div class="wAgree">
                                    <p>개인정보 수집 및 이용 동의</p>
                                    <p>개인정보 활용에 대한 내용을 모두 읽고 동의 해주세요.</p>
                                    <p>※ 고객님은 동의를 거부할 권리가 있으나, 이 경우 서비스를 이용하실 수 없습니다. </p>
                                    <div class="chBoxCheck">
                                        <label for="agree" class="icheck"><input type="checkbox" id="agree"/>동의</label>
                                    </div>
                                </div>

                                <div class="table-wrap mt10">
                                    <table class="board-form va-m">
                                        <colgroup>
                                            <col style="width:150px;">
                                            <col>
                                            <col style="width:150px;">
                                            <col>
                                        </colgroup>
                                        <tbody>


                                        <tr>
                                            <th scope="row"><label for="name">이름</label> <span class="font-red">*</span>
                                            </th>
                                            <td><input type="text" id="name" name="name" class="form-control mr-sm-2"
                                                       value="" maxlength="15"/></td>
                                            <th scope="row"><label for="email">이메일</label> <em class="font-red">*</em>
                                            </th>
                                            <td><input type="email" name="email" id="email" class="form-control2"
                                                       value="" maxlength="50"/></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><label for="pnum1">휴대전화</label> <em class="font-red">*</em>
                                            </th>
                                            <td colspan="3">
                                                <input type="text" name="pnum1" id="pnum1" class="form-control2 "
                                                       maxlength="3" title="핸드폰번호 첫자리 입력">
                                                <span>-</span>
                                                <input type="text" name="pnum2" id="pnum2" class="form-control2 "
                                                       maxlength="4" title="핸드폰번호 중간자리 입력">
                                                <span>-</span>
                                                <input type="text" name="pnum3" id="pnum3" class="form-control2 "
                                                       maxlength="4" title="핸드폰번호 마지막자리 입력">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><label for="title">제목</label> <em class="font-red">*</em>
                                            </th>
                                            <td colspan="3"><input type="text" name="title" id="title"
                                                                   class="form-control" maxlength="100"/></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><label for="textarea">내용</label> <em class="font-red">*</em>
                                            </th>
                                            <td colspan="3">
                                                <div class="textarea">
                                                    <textarea id="textarea" name="custInqCn" rows="5" cols="30"
                                                              title="내용입력"
                                                              placeholder="※ 불편사항이나 문의사항을 남겨주시면 최대한 신속하게 답변 드리겠습니다."
                                                              class="input-textarea"></textarea>

                                                </div>
                                            </td>
                                        </tr>
                                        <!-- 2019-02-14 사진첨부 마크업 수정 -->
                                        <tr>
                                            <th scope="row">사진첨부</th>
                                            <td colspan="3">
                                                <div class="upload-image-box">

                                                    <div class="info-txt">
                                                        <p>* JPEG, PNG 형식의 5M 이하의 파일만 첨부 가능합니다. (최대 5개)</p>

                                                        <!-- to 개발 : 이미지 추가가 5개가 되면 버튼 숨김 -->
                                                        <button type="button" id="uploadBtn" class="btn-image-add">
                                                            <span>파일선택</span></button>
                                                        <!--// to 개발 : 이미지 추가가 5개가 되면 버튼 숨김 -->
                                                        <p>* 개인정보가 포함된 이미지 등록은 자제하여 주시기 바랍니다.</p>
                                                    </div>

                                                    <div id="imgList"></div>

                                                </div>
                                            </td>
                                        </tr>
                                        <!--// 2019-02-14 사진첨부 마크업 수정 -->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- //bbs -->
                                <div style="margin: 15px; text-align: center;">
                                    <button class="btn btn-info my-2 my-sm-0" type="submit">등록</button>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">

                <button type="submit" id="login-submit" class="btn btn-secondary btn-block"/>
                로그인</button>
            </div>
        </div>


        <!-- 공통 하단-->
        <th:block th:replace="include/footer :: footer"></th:block>


        <!-- 공통 스크립트-->
        <th:block th:replace="include/script :: script"></th:block>
</body>
</html>