<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content" style="margin-top: 50px">

 <div class="card shadow">
  <div class="card-body">
   <h4 class="card-title">DataBase게시판</h4>
   <table class="table table-hover" id='board_list'>
    <thead>

    <tr>
     <th class="text-center d-none d-md-table-cell">글번호</th>
     <th class="w-50">제목</th>
     <th class="text-center d-none d-md-table-cell">작성자</th>
     <th class="text-center d-none d-md-table-cell">작성날짜</th>
    </tr>
    </thead>
    <tbody>

    <tr>
     <td class="text-center d-none d-md-table-cell">1</td>
     <td><a href='/MiniBoardJavaProject/board/read?board_info_idx=4&content_idx=1'>asd</a></td>
     <td class="text-center d-none d-md-table-cell">이용수</td>
     <td class="text-center d-none d-md-table-cell">2020-07-25</td>

    </tr>

    <tr>
     <td class="text-center d-none d-md-table-cell">0</td>
     <td><a href='/MiniBoardJavaProject/board/read?board_info_idx=4&content_idx=0'>asd</a></td>
     <td class="text-center d-none d-md-table-cell">이용수</td>
     <td class="text-center d-none d-md-table-cell">2020-07-25</td>

    </tr>


    </tbody>
   </table>

   <div class="d-none d-md-block">
    <ul class="pagination justify-content-center">
     <li class="page-item"><a href="#" class="page-link">이전</a></li>
     <li class="page-item"><a href="#" class="page-link">1</a></li>
     <li class="page-item"><a href="#" class="page-link">2</a></li>
     <li class="page-item"><a href="#" class="page-link">3</a></li>
     <li class="page-item"><a href="#" class="page-link">4</a></li>
     <li class="page-item"><a href="#" class="page-link">5</a></li>
     <li class="page-item"><a href="#" class="page-link">6</a></li>
     <li class="page-item"><a href="#" class="page-link">7</a></li>
     <li class="page-item"><a href="#" class="page-link">8</a></li>
     <li class="page-item"><a href="#" class="page-link">9</a></li>
     <li class="page-item"><a href="#" class="page-link">10</a></li>
     <li class="page-item"><a href="#" class="page-link">다음</a></li>
    </ul>
   </div>

   <div class="d-block d-md-none">
    <ul class="pagination justify-content-center">
     <li class="page-item"><a href="#" class="page-link">이전</a></li>
     <li class="page-item"><a href="#" class="page-link">다음</a></li>
    </ul>
   </div>

   <div class="text-right">
    <!-- 게시판 종류별 인덱싱 -->
    <a href="/MiniBoardJavaProject/board/write?board_info_idx=4"
       class="btn btn-primary">글쓰기</a>
   </div>

  </div>
 </div>
 </div>


</th:block>
</html>