<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>

<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" class="col-sm-8">

    <th:block th:replace="content :: content"></th:block>
</div>
<div id="sidebar" class="col-sm-4">
    <th:block th:replace="sidecontent :: sidecontent"></th:block>
</div>

        <!-- 공통 하단-->
        <th:block th:replace="include/footer :: footer"></th:block>


<!-- 공통 스크립트-->
<th:block th:replace="include/script :: script"></th:block>
</body>
</html>