<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>

<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link th:href="@{/css/gallery-clean.css}" rel="stylesheet">

<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" style="margin-top: 50px">


    <div class="container gallery-container">

        <h4>사진공유게시판</h4>
        <div class="text-right"><a th:href="@{/photoboard/write}"
                                   class="btn btn-primary">글쓰기</a></div>

        <p class="page-description text-center">이곳은 사진을 공유하는 공간입니다.</p>

        <div class="tz-gallery">

            <div class="row">
                <div th:each="context: ${contextlists}" class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" th:href="@{/static/}+${context.file}">
                            <img th:src="@{/static/}+${context.file}">
                        </a>
                        <div class="caption">
                            <a th:href="@{/photoboard/read(no=${context.no})}"><h3 th:text="${context.subject}">제목</h3></a>
                            <p th:text="${context.contents}">내용</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="d-none d-md-block">
                <ul class="pagination justify-content-center">
                    <li th:if="${pageing.prev}" class="page-item"><a
                            th:href="@{list(board=${board}, page=${pageing.startPage-1})}" class="page-link">이전</a></li>
                    <th:block th:each="index: ${#numbers.sequence(pageing.startPage,pageing.endPage)}">
                        <li class="page-item"><a class="page-link" th:text="${index}"
                                                 th:href="@{list(board=${board}, page=${index})}"></a></li>

                    </th:block>
                    <li th:if="${pageing.next}" class="page-item"><a
                            th:href="@{list(board=${board}, page=${pageing.endPage+1})}" class="page-link">다음</a></li>
                </ul>
            </div>
            <div class="d-block d-md-none">
                <ul class="pagination justify-content-center">
                    <li th:if="${pageing.halfprev}" class="page-item"><a th:href="@{list(board=${board}, page=${pageing.halfstartPage-1})}" class="page-link">이전</a></li>
                    <th:block th:each="index: ${#numbers.sequence(pageing.halfstartPage,pageing.halfendPage)}">
                        <li class="page-item"><a class="page-link" th:text="${index}"  th:href="@{list(board=${board}, page=${index})}" ></a></li>

                    </th:block>
                    <li th:if="${pageing.halfnext}" class="page-item"><a th:href="@{list(board=${board}, page=${pageing.halfendPage+1})}" class="page-link">다음</a></li>
                </ul>
            </div>


        </div>

    </div>
</div>


<!-- 공통 하단-->
<th:block th:replace="include/footer :: footer"></th:block>

</body>
<!-- 공통 스크립트-->
<script th:src="@{/js/baguetteBox.js}"></script>
<script>
    baguetteBox.run('.tz-gallery');


</script>
<th:block th:replace="include/script :: script"></th:block>


</html>