<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>

<!--<style>
    .fileDrop {
    width: 600px;
    height : 70px;
    border : 2px dotted gray;
    background-color : gray;
    }
</style>-->
<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" style="margin-top: 50px">

    <div class="container layout">
        <div class="row">
            <div class="col-sm-9">
                <div class="card shadow">
                    <div class="card-body">
                        <div style="padding: 20px 20px 10px 20px; border: 1px solid #eee">
                            <p><b>게시판 글쓰기전 주의사항</b></p>
                            <p>1.저작권이 없는 사진들만 업로드 해주세요</p>
                            <p>2. 회원들만 사진을 보기및 저장이 가능합니다 이점에 주의해주세요.</p>
                        </div><br>
                        <h4 class="card-title">사진공유게시판</h4>
                        <form action="#" th:action="@{/photoboard/writepro}" th:object="${PhotoBoardDto}" method="post" enctype="multipart/form-data">


                            <input type="hidden" name="nickname" id="nickname" value="test" ><!--th:value="${session.greeting}"-->
                            <label for="subject">제목</label><br>
                            <input type="text" name="subject" id="subject" class="form-control mr-sm-2"><br>

                            <label for="contents">글내용</label><br>
                            <textarea class="form-control" rows="10" name="contents" id="contents"></textarea>

                            <input type="file" name="uploadfile" placeholder="파일 선택" /><br/>

                            <button type="submit" class="btn btn-success">입력완료</button>
                        </form>
                     <!--   <form name="test" action="fileupload" method="post" enctype="multipart/form-data">

                        </form>-->
                       <!-- <form action="fileupload" method="post" enctype="multipart/form-data">
                            <input type="file" name="uploadfile" placeholder="파일 선택" /><br/>
                            <input type="submit" value="업로드">
                        </form>

                        <h2>다중 파일 업로드</h2>
                        <form action="fileupload2" method="post" enctype="multipart/form-data">
                            <input type="file" name="uploadfiles" placeholder="파일 선택" multiple/><br/>
                            <input type="submit" value="업로드">
                        </form>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <button type="button" id="login-submit" class="btn btn-secondary btn-block"/>
                로그인</button>

            </div>
        </div>


        <!-- 공통 하단-->
        <th:block th:replace="include/footer :: footer"></th:block>

</body>
<!-- 공통 스크립트-->
<th:block th:replace="include/script :: script"></th:block>
<script>
    $(document).ready(function(){

          var queryString = $("form[name=test]").serialize() ;
            alert(queryString);
        $.ajax({
            type : 'post',
            url : '/test.jsp',
            data : queryString,
            dataType : 'text',
            success : function(data){
                alert(data)
            }
        });
    )
</script>
<script>
    $(document).ready(function(){
        $(".fileDrop").on("dragenter dragover", function(e){
        e.preventDefault();
        });
        $(".fileDrop").on("drop", function(e){
        e.preventDefault();
        var files = e.originalEvent.dataTranster.files;
        var file = files[0];
        var formData = new FormData();
        formData.append("file",file);
        $.ajax({
            url:"${path}/upload/uploadAjax",
            type: "post",
            data: formData,
            dataType: "text",
            p.ocessData: false,
            contentType: false,
            success: function(data){
            console.log(data);
            var fileInfo = getFileInfo(data);
            var html = "<a href='"+fileInfo.getLink+"'>"+fileInfo.fileName+"</a><br>";
            html += "<input type='hidden' class='file' value='"+fileInfo.fullName+"'>";
            $("#uploadedList").append(html);
            }
            });
            });
</script>
</html>