<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<th:block th:replace="include/head :: head"></th:block>


<body id="page-top">
<th:block th:replace="include/top :: top"></th:block>
<div id="content" style="margin-top: 50px">

    <div class="container layout">
        <div class="row">
            <div class="col-sm-9">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">자유게시판</h4>


                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <button type="button" id="login-submit" class="btn btn-secondary btn-block"/>
                로그인</button>

            </div>
        </div>


        <!-- 공통 하단-->
        <th:block th:replace="include/footer :: footer"></th:block>

</body>
<!-- 공통 스크립트-->
<th:block th:replace="include/script :: script"></th:block>


</html>